body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.first-section{
    background-color:  #8f2424;
    padding: 30px;
    padding-bottom: 120px;
    padding-left: 120px;
    padding-right: 120px;
    gap: 30px;
    text-align: justify;
    clip-path: polygon(
    0 0,
    100% 0,
    100% 80%,
    90% 100%,
    0 100%
);
}

.logo{
    width: 100px;
    height: 100px;
}

.headings{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px;
}

.headings h1, p{
    color: white;
}
.headings h1{
    font-size: 50px;
    font-weight: 1000;
}

.headings h3{
    font-size: 23px;
    font-weight: 1000;
}
.first-section p{
    margin-bottom: 20px;
}
.second-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.article{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}
.upper-part{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 45px;
    margin-top: 20px;
}
.img{
    height: 24px;
}
.upper-part h2{
    font-size: 34px;
    font-weight: 1000;
}
.article{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.mid-body-section{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 20px;
}
.div-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-section img{
    width: 80px;
    margin-bottom: 10px;
}
.first-para{
    color: rgb(154, 23, 23);
    font-weight: bold;
}
.second-para{
    color: black;
    font-weight: bold;
}
h1, h2, h3, p{
    margin: 0;
}
.last-section{
    background-color: #8f2424;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 220px;
    clip-path: polygon(
    0 0,
    100% 0,
    100% 60%,
    90% 100%,
    0 100%
);
}
.last-section p{
    font-size: 40px;
    font-weight: 1000;
}